#wrapper .results {
    display: none;
}

#wrapper .results {
    height: 100%;
    min-height: 50vh;
}
#wrapper .results .results {
    display: block;
    font-family: Arial;
    margin-bottom: 45px;
}

#wrapper .results .main {
	display: flex;
	flex-direction: row;
}

#wrapper .results .main .searchBox {
    border: 1px solid #ddd;
	color: rgba(0,0,0, 0.87);
	font-size: 16.33px;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
	padding: 14px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
	transition: box-shadow 100ms;
	outline: none;
    width: 550px;
    margin-left: 10 px;
    margin-bottom: 10px;
    margin-top: 10 px;
    text-align: left;

}

#wrapper .results .main .searchBox .search {
	display: block;
	color: rgba(0,0,0, 0.87);
	font-size: 16.33px;
	letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
	padding: 0px;
    transition: none;
    border-radius: 0px;
	padding-left: 15px;
	width: 100%;
    border-bottom: none;
    border-bottom-color: rgb(139, 137, 137);
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}


#wrapper .results .main .google {
	display: flex;
	margin-top: 0px;
    margin: 0px;
    width: 200px;
    height: 100px;
	padding: 25px;
}
#wrapper .results .main .buttons {
	display: none;
}

.result {
    margin-left: 200px;
    margin-bottom: 20px;
}

.result a {
    font-size: 14px;
    line-height: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.result h2 {
    margin-top: 7px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: normal;
    font-size: 19px;
    color: rgb(31, 1, 189);
}

.result p {
    color: rgb(42, 43, 48);
    font-size: 14px ;
    font-family: arial, sans-serif;
}


#result_buttons {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: 180px;
    cursor: pointer;
}

.results #result_line{
    margin-left: 0 px;
    height: 3px;
    color: rgb(95, 95, 95);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-right: 0px;

}

#result_buttons li {
    padding: 0px 10px 15px 20px;
    color: gray;
    font-family: sans-serif;

}

#result_buttons #active_res_btn {
    color: rgb(8, 111, 245);
}


.footer
{
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}

.footer .row
{
    padding: 15px 30px;
    border-top: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

.footer .row.row2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer .row.row2 ul
{
    display: flex;
}

.footer .row.row2 ul li
{
    list-style: none;
}

.footer .row.row2 ul li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-left: 25px;
}

.footer .row.row2 ul:nth-child(2) li a
{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 0px;
    margin-left: 25px;
}